docs/build/*
pyost/__pycache__/*
docs/build/doctrees/environment.pickle
.pytest_cache/*
res/*
.vscode/*
pyost/tests/__pycache__/*
.eggs/*
dist/*
docs/demo_notebooks/.ipynb_checkpoints/*
pyost.egg-info/*
*__pycache__
*.vscode
kadlu.egg-info/*